@import "../Utilities/themes";

.accordion-header {
    font-weight: 600;
    font-size: 18px;
    font-family: $open-sans;
    color: $heritage;
  }
  
  .accordion-item {
    border: none;

  }
  .accordion-body {
    background-color: $warm-grey;
    padding-top: 0;
  }
  .accordion-button.collapsed::after {
    font-family: "FontAwesome";
    content: "\f067";
    font-size: .7rem;
    color: #0a3370;
    float: right;
    background-image: none;
  }
  .accordion-btn-content:not(.collapsed) {
    background-color: $warm-grey;
    box-shadow: none;
  }

  .accordion-button:not(.collapsed)::after {
    font-family: "FontAwesome";
    content: "\f068";
    color: #0a3370;
    float: right;
    font-size: .7rem;
    background-image: none;
    transform: none;
  }

  .complete-btn.collapsed::after {
    background-color: $ink-blue;
    color: #fff;
    font-family: "FontAwesome";
    content: "\f067";
    font-size: .7rem;
    float: right;
    background-image: none;
    display: flex;
    align-items: center;
  }
  
  .complete-btn:not(.collapsed)::after {
    font-family: "FontAwesome";
    content: "\f068";
    color: #fff;
    float: right;
    font-size: .7rem;
    background-image: none;
    transform: none;
    display: flex;
    align-items: center;
  }