


 .navbar {
    background-color:$heritage;
  }


  @media only screen and (max-width: $breakpoint-sm) {

    .navbar>.container {
      justify-content: center;
      text-align: center;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
    

  }

  